* {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-image: url('/assests/Pics/Main-Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    height: 3.5rem;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
}

/* Section heads */

.section-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    font-size: 3.2rem;
    text-shadow: 0px 0px 10px whitesmoke;
    background-color: #858786;
    width: 30rem;
    box-shadow: 2px 2px 3rem whitesmoke;
}

/* nav buttons */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.crumb {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .6s ease-in-out;
    margin-right: 2rem;
    background-color: linen;
    height: 1.8rem;
    width: 10rem;
    border-radius: 2rem;
    font-size: 1.3rem;
    box-shadow: 0 0 4px whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    color: black;

}

.crumb:hover {
    background-color: skyblue;
}

/* Bio Section */

#me {
    width: 15rem;
    border-radius: 5rem;
}

#my-name {
    font-family: fantasy;
    color: #2B6782;
    text-shadow: 2px 1px whitesmoke;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#pic-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    background-image: url('/assests/Pics/Background.png');
    border-radius: 5rem;
}

#about-me {
    display: flex;
    justify-content: space-evenly;
    padding-top: .5rem;
    padding-bottom: 6.5rem;

}

#bio {
    margin-top: 7rem;
    background-image: url('/assests/Pics/Background.png');
    border-radius: 2rem;
    width: 30rem;

}

#bio-heading {
    font-size: 3.2rem;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2B6782;
    border-top-left-radius: 1.9rem;
    border-top-right-radius: 1.9rem;
}

#bio-text {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 1rem;
    text-shadow: 1px 1px whitesmoke;
}

/* Skills */

#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 13rem;
    background-repeat: no-repeat;
    background-size: cover;
}

#diff-skill {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 5rem;
    background-color: white;
    border-radius: 2rem;
    width: 10rem;
    height: 12.5rem;
    box-shadow: .5rem .5rem 8rem thistle;
}

.logos {
    height: 8rem;
}

.skill-name {
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-shadow: 0px 0px 10px #2B6782;
}

/* Project section */

#projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 13rem;
    background-repeat: no-repeat;
    background-size: cover;
}


#project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3rem;
}

/* project containers */

.item-container{
    background-image: url('/assests/Pics/Background.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 25rem;
    border-radius: 3rem;
}

.item-Title {
    font-size: 2rem;
    margin-top: 1rem;
    font-size: 2.5rem;
    text-decoration: underline;
    text-shadow: 3px 1px whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    text-shadow: 1px 1px whitesmoke;
}

.future-ideas-stuff {
    line-height: 1;
}

.project-video{
    transition: all .5s ease-in-out;
}

.project-video:hover {
    transform: scale(2.5);
}

/* Contact info*/

#contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 18rem;
}

#contact-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 3rem;
    justify-content: space-between;
    align-items: center;
}

.contact-btn {
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    background-color: linen;
    box-shadow: 0 0 8px whitesmoke;
    transition: .6s ease-in-out;
}

.contact-btn:hover {
    cursor: pointer;
     background-color: skyblue;
}

.email-address {
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: white;
    font-size: 1.5rem;
    border-radius: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0 0 4px whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-me {
    background-image: url('/assests/Pics/Background.png');
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 5rem;
    text-shadow: 1px 1px whitesmoke;
    font-size: 1.5rem;
}