* {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-image: url('https://www.teahub.io/photos/full/271-2719234_free-photo-backgrounds-web-page-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    height: 5rem;
    width: 100vw;
    background-color: rgb(90,81,102);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.crumb {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    background-color: lightslategray;
    height: 2rem;
    width: 5rem;
    border-radius: 2rem;

}

#me {
    width: 15rem;
    border-radius: 5rem;
}

#my-name {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#pic-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    background-color: lightslategray;
    border-radius: 5rem;
}

#about-me {
    display: flex;
    justify-content: space-evenly;
    padding-top: 3rem;
    padding-bottom: 6.5rem;
}

#bio {
    margin-top: 7rem;
    background-color: lightslategray;
    border-radius: 2rem;
    width: 30rem;

}

#bio-heading {
    font-size: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bio-text {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 13rem;
    background-repeat: no-repeat;
    background-size: cover;
}

#diff-skill {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 5rem;
    background-color: white;
    border-radius: 2rem;
    width: 10rem;
    height: 12.5rem;
    box-shadow: .5rem .5rem 8rem thistle;
}

#projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 13rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    font-size: 3.2rem;
    background-color: rgb(90,81,102);
    width: 30rem;
}

#project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3rem;
}

/* project containers */

.item-container{
    background-image: url('/assests/Pics/Background.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    border-radius: 5rem;
}

.item-Title {
    font-size: 2rem;
    margin-top: 1rem;
    font-size: 2.5rem;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-description {
    width: 20rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.project-video{
    transition: all .5s ease-in-out;
}

.project-video:hover {
    transform: scale(2.5);
}


#contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 15rem;
    background-color: lightslategray;
}

#contact-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    justify-content: space-between;
    align-items: center;
}

.contact-btn {
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 1.5rem;
    border-radius: 2rem;
}

.contact-btn:hover {
    cursor: pointer;
    background-image: url('/assests/Pics/Woodback.png');
    color: whitesmoke;
}

.email-address {
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: white;
    font-size: 1.5rem;
    border-radius: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}